html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,form,label,legend,caption,tbody,tfoot,thead {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

div[id$="pnlPart"] img {
	z-index:1000;
}

#bbAdminMenuDiv {
	position:relative;
}

html {
	height:100%;
}

body {
	color:#555;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:0;
}

.BBFormTable {
	font-size:12px;
}

.ListViewEventSubtitle,.ListViewEventTime,.ListViewEventLocation,.BBFormSelectList,.BBFormTextArea,.BBFormTextbox,.DiscussionGroupMessage,.DiscussionGroupHeadingText,.BBNotesTextBox,.EventItemTitleDescription,.DiscussionTopicListHeader,.BBMessage,.BBNotesNoteCell {
	color:#555;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
}

a,a:link,.JobBoardSearchLink:link,.JobBoardPostLink:link,.JobDetailLink:link,.JobResultsLink:link,.DiscussionFooterLink:link,.DiscussionTopicLink:link,.BBNameLink:link,.NewsReaderItemLink,a.ListViewEventTitle:link,.PagedListFooterLink:link,.DonationCaptureLink:link,.PageSharingListItemLink,.PageSharingListItemLink:link,.PageSharingListItemLink:visited,.PageSharingLink:link,a.LoginLink {
	color:#01579A;
	text-decoration:underline;
}

a:visited,.JobBoardSearchLink:visited,.JobBoardPostLink:visited,.JobDetailLink:visited,.JobResultsLink:visited,.DiscussionFooterLink:visited,.DiscussionTopicLink:visited,.BBNameLink:visited,.NewsReaderItemLink:visited,a.ListViewEventTitle:visited,.PagedListFooterLink:visited,.DonationCaptureLink:visited,.PageSharingLink:visited {
	color:#01579A;
	text-decoration:none;
}

a:hover,.JobBoardSearchLink:hover,.JobBoardPostLink:hover,.JobDetailLink:hover,.JobResultsLink:hover,.DiscussionFooterLink:hover,.DiscussionTopicLink:hover,.BBNameLink:hover,.NewsReaderItemLink:hover,a.ListViewEventTitle:hover,.PagedListFooterLink:hover,.DonationCaptureLink:hover,.PageSharingListItemLink:hover,.PageSharingLink:hover,.BBDocumentDisplayHeader:hover {
	color:#01579A;
	text-decoration:underline;
}

a.BBDocumentDisplayHeader,a.BBListingHeadingLink:link {
	color:#FFF;
	font-weight:400;
}

a.BBDocumentDisplayHeader:hover,a.BBListingHeadingLink:hover {
	color:#FFF;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	font-weight:400;
	color:#000;
}

h1 {
	clear:both;
	color:#01579a;
	display:block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:700;
	line-height:1em;
	margin:0 0 .5em;
	padding:0;
	text-align:left;
	text-transform:uppercase;
}

h2,.BBFormTitle,.EventCalendarName,table.ReportFormTable legend,.SurveyTitle,.SpellFormTitle,.LoginFormTitle,.LoginSectionHeader,.ProfileFormTitle,.DonationListingHeading,.DonationCaptureListingHeading,.EventSectionHeader,.FRDonorListSetCaption,.FRCommentsFieldSet .FRFieldSetCaption,.ECardWizardHeading,.UpcomingEventTitle,.RecentEventTitle,.DiscussionGroupFormTitle,.SearchFormTable .SearchFormTitle,.CHFormTitle,.GivingSearchFormTitle,.NCC_Forms_Title,.BBMembershipFormTitle,.BBDocumentFormTitle,.JobBoardFormTitle,.SubscriptionFormTitle,.BBAnonymousSubscriptionTitle,.DirectoryFormTitle,.BBVolOpJobListTitle,.BBVolOpJobDetailTitle,.PostChannelStoryFormTitle,.BBPollsFormTitle,.BBNotesTitle,.ReportsLandingTable caption,.SearchJobHeading,.JobResultsHeading,#contentSidebar .NewsReaderFormTitle,.UPMPartEditToolbarTitle,.DonorGrantListingHeading,.NCCS_ProductHeaderLine,.SAE_ChapterManagement_Form_Page_Title {
	color:#01579a;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	font-weight:700;
	line-height:1em;
	margin:0 0 .5em;
	padding:0;
	text-align:left;
	text-transform:uppercase;
}

.BBFormTitle,.EventCalendarName,table.ReportFormTable legend,.SurveyTitle,.SpellFormTitle,.LoginFormTitle,.LoginSectionHeader,.ProfileFormTitle,.DonationListingHeading,.DonationCaptureListingHeading,.EventSectionHeader,.FRDonorListSetCaption,.FRCommentsFieldSet .FRFieldSetCaption,.ECardWizardHeading,.UpcomingEventTitle,.RecentEventTitle,.DiscussionGroupFormTitle,.SearchFormTable .SearchFormTitle,.CHFormTitle,.GivingSearchFormTitle,.NCC_Forms_Title,.BBMembershipFormTitle,.BBDocumentFormTitle,.JobBoardFormTitle,.SubscriptionFormTitle,.BBAnonymousSubscriptionTitle,.DirectoryFormTitle,.BBVolOpJobListTitle,.BBVolOpJobDetailTitle,.PostChannelStoryFormTitle,.BBPollsFormTitle,.BBNotesTitle,.ReportsLandingTable caption,.SearchJobHeading,.JobResultsHeading,#contentSidebar .NewsReaderFormTitle,.ClassPageHeaderClassName,.UPMPartEditToolbarTitle,.DonorGrantListingHeading {
	padding:.25em 0 .5em;
	margin:0;
}

.SurveyTitle {
	font-size:1em;
}

.ReportTitle {
	clear:both;
	color:#01579a;
	display:block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:700;
	line-height:1em;
	text-align:left;
	text-transform:uppercase;
	padding:0!important;
}

h3,.CalendarFormLegend,.ListViewDateLabel,.DetailCaption,.NewsReaderFormTitle,.EventItemTitleTime,.EventItemTitleName,.EventItemRegistrationsHeader,.EventItemRegistrantsEventName,.NewsChannelItemTitle,.NewsChannelItemTitle a,.FRSectionHeader,.FRFieldSetCaption,.DiscussionGroupHeadingText,.PostDiscussionReplyHeading,.PostDiscussionPreviewHeading,.SurveySubTitle,.SpellHeading,fieldset .CHFormTitle,.CalendarViewTopMiddle,.ReportListingHeading,.NCC_Forms_Subtitle,.DiscussionTopicSubject,.OCCHeader,.BBFormDisplaySectionLabel,.ClassPageHeaderClassName,.NCCS_ProductName,.NCCS_sectionheader,.NCCS_Tributeheader,.SAE_ChapterManagement_Form_Section_Title {
	font-family:Arial,Helvetica,sans-serif;
	margin:.25em 0;
	text-align:left;
	font-size:14px;
	font-weight:700;
	color:#000;
	text-transform:none;
}

.CalendarFormLegend,.ListViewDateLabel,.DetailCaption,.NewsReaderFormTitle,.EventItemTitleTime,.EventItemTitleName,.EventItemRegistrationsHeader,.EventItemRegistrantsEventName,.NewsChannelItemTitle,.NewsChannelItemTitle a,.FRSectionHeader,.FRFieldSetCaption,.DiscussionGroupHeadingText,.PostDiscussionReplyHeading,.PostDiscussionPreviewHeading,.SurveySubTitle,.SpellHeading,fieldset .CHFormTitle,.CalendarViewTopMiddle,.ReportListingHeading,.NCC_Forms_Subtitle,.DiscussionTopicSubject,.OCCHeader,.BBFormDisplaySectionLabel,.ClassPageHeaderClassName,.NCCS_sectionheader,.NCCS_Tributeheader {
	padding:.25em 0;
	margin:0;
}

h4,.DetailEventTitle,.ListViewEventDate,.ClassPageHeaderPageName,.NCCS_CatalogHeaderRow {
	font-family:Arial,Helvetica,sans-serif;
	margin:.25em 0;
	text-align:left;
	font-size:12px;
	font-weight:400;
	color:#01579a;
	line-height:18px;
}

.DetailEventTitle,.ListViewEventDate,.ClassPageHeaderPageName,.NCCS_CatalogHeaderRow {
	padding:.25em 0;
	margin:0;
}

h5,.ClassPageHeaderTeacherName,.ClassPageHeaderTeacherEmail {
	font-family:inherit;
	margin:0;
	text-align:left;
	clear:both;
	font-size:1em;
	font-weight:700;
	color:#01579a;
}

h6 {
	font-family:inherit;
	color:#01579a;
	font-weight:700;
	font-size:1em;
	line-height:normal;
	margin:0;
	text-align:left;
}

p {
	margin:0 0 1em;
}

ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

hr,.DiscussionMessageSepHR,.DiscussionTopicSepHR,.BBMembershipCategoryListStart {
	border-color:#C9C9C9;
	border-style:none none dotted;
	border-width:0 0 1px;
	color:#C9C9C9;
	display:block;
	height:1px;
	margin:0 auto 1em;
	padding:0 0 .5em;
}

select,textarea {
	font-size:12px;
	vertical-align:middle;
	font-family:Arial,Helvetica,sans-serif;
	background-color:#FFF;
	color:#797979;
}

input {
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#797979;
	padding-top:.25em;
	padding-bottom:.25em;
}

input[type="text"],input[type="password"],input[type="file"],textarea,select,.SpellSuggestionList {
	border:1px solid #CCC;
}

input[type="button"] {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.BBFormSubmitButton,input[type="button"],.button,.button:link,.button:hover,.NCCS_SearchButton,.NNCS_FormSubmitButton,.NCCS_MoreLinkTable_TDR .NCCS_addtocartlink,.SAE_ChapterManagement_Button,.BBSequenceMapNavigationButton,a.calloutButton,.calloutButton a {
	margin:1em auto;
	padding:4px 6px;
	line-height:20px;
	font-family:inherit;
	font-size:12px;
	width:auto;
	color:#FFF!important;
	display:inline-block;
	position:relative;
	zoom:1;
	cursor:pointer;
	text-decoration:none!important;
	background:#8C8C8C;
	background:-webkit-gradient(linear,left top,left bottom,from(#8C8C8C),to(#4A4A4A));
	background:-moz-linear-gradient(top,#8C8C8C,#4A4A4A);
	background:linear-gradient(center top,#8C8C8C,#4A4A4A) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#8C8C8C,#4A4A4A) repeat scroll 0 0 transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #6C6C6C;
	behavior:url(document.doc?id=1);
}

input[type="checkbox"],input[type="radio"] {
	margin:0 .5em .25em 0;
	padding:0;
	vertical-align:middle;
}

input.hasDatepicker {
	margin:0 .25em 0 0;
}

label,button,input[type="submit"] {
	cursor:pointer;
}

.BBFormTextbox:focus,.BBFormTextArea:focus,input[type="text"]:focus {
	background-color:#fff;
}

:focus {
	outline:0;
}

blockquote {
	margin:0;
	padding:0;
}

blockquote,q {
	quotes:none;
	margin:0 0 0 1em;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

ul,ol {
	margin:0 0 1em;
	padding:0 0 0 1.5em;
}

ul {
	margin-left:0;
}

ul ul {
	margin-bottom:0;
}

ul li {
	padding:0;
}

ul ul li {
	padding:0;
}

dl {
	margin:0 0 1em;
}

ol {
	list-style-type:decimal;
	margin-left:1.5em;
}

ol ol {
	margin-bottom:0;
}

* html ol {
	margin:0 0 0 .5em;
}

:first-child+html ol {
	margin:0 0 0 .5em;
}

ol li ol li {
	list-style-type:lower-alpha;
}

ol li ol li ol li {
	list-style-type:lower-roman;
}

ol li ol li ol li ol li {
	list-style-type:decimal;
}

dt {
	font-weight:700;
	margin:0;
	padding:0;
	line-height:1.5em;
}

dd {
	margin:0;
	padding:0 0 0 2em;
}

table {
	font-size:1em;
}

td.dInlineBlock {
	display:table-cell;
}

img {
	vertical-align:bottom;
}

img.ui-datepicker-trigger {
	vertical-align:middle;
}

a img {
	border:0 none;
}

.BBLinkHelpIcon img {
	vertical-align:middle;
}

.floatRight {
	float:right;
	margin:0 0 0 30px;
}

.floatLeft {
	float:left;
	margin:0 30px 0 0;
}

.imgLeft,.imagefloatLeft {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #333;
	padding:1px;
	float:left;
	margin:0 1.5em 1em 0;
	width:auto;
	position:relative;
	behavior:url(document.doc?id=1);
}

.imgRight,.imagefloatRight {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #333;
	padding:1px;
	width:auto;
	margin:0 0 1.5em 1em;
	padding:1px;
	float:right;
	position:relative;
	behavior:url(document.doc?id=1);
}

.mainPhoto {
	padding:2px;
	border:1px solid #dcdcdc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url(document.doc?id=1);
}

.media2Col .mainPhoto {
	-webkit-border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	border-radius:10px 0 0 10px;
}

td.DonationCaptureFieldControlCell img {
	padding:0 0 2px 5px;
}

.vaMiddle {
	vertical-align:middle;
}

.taRight {
	text-align:right;
}

.clearFloat {
	clear:both;
}

.displayNone {
	display:none;
}

.noMargin {
	margin:0;
	padding:0;
}

table.callout {
	width:221px;
	border-collapse:collapse;
	margin-bottom:25px;
}

table.callout th {
	background-color:#767676;
	background:-webkit-gradient(linear,left top,left bottom,from(#767676),to(#484848));
	background:-moz-linear-gradient(center top,#767676,#484848) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#767676,#484848) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#767676,#484848) repeat scroll 0 0 transparent;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	height:27px;
	color:#fff;
	padding:0 10px;
	font-size:14px;
	text-align:left;
	font-weight:400;
	position:relative;
	behavior:url(document.doc?id=1);
}

table.callout td {
	background:#fff;
	border-width:0 1px 1px;
	border-style:solid;
	border-color:#f2f2f2;
	padding:10px 10px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	position:relative;
	behavior:url(document.doc?id=1);
}

p.calloutButton {
	text-align:center;
}

.calloutImage {
	vertical-align:top;
}

.calloutText {
	vertical-align:top;
	padding:0 0 0 20px;
	line-height:18px;
}

.calloutText h1,.calloutText h2,.calloutText h3,.calloutText h4,.calloutText h5 {
	margin:0;
}

.titleCalloutTable {
	border-collapse:collapse;
	width:100%;
}

.titleCalloutTable .calloutImage .imgBorder {
	margin-bottom:0;
}

.calloutHeader h3 {
	background-color:#01579A;
	background:-webkit-gradient(linear,left top,left bottom,from(#01579A),to(#013762));
	background:-moz-linear-gradient(center top,#01579A,#013762) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#01579A,#013762) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#01579A,#013762) repeat scroll 0 0 transparent;
	box-shadow:0 0 0 1px #E7E7E7;
	border:1px solid #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#FFF;
	text-transform:uppercase;
	height:auto;
	padding:9px 13px;
	text-align:left;
	font-size:1em;
	font-family:inherit;
	font-weight:700;
	position:relative;
	behavior:url(document.doc?id=1);
}

.calloutBody {
	padding:5px 6px 0 13px;
}

.eventTable {
	line-height:1.4em;
}

.eventDate {
	text-align:center;
	vertical-align:top;
	padding:0 10px 0 0;
	width:40px;
}

.eventDate .date {
	background-color:#01579A;
	background:-webkit-gradient(linear,left top,left bottom,from(#01579A),to(#013762));
	background:-moz-linear-gradient(center top,#01579A,#013762) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#01579A,#013762) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#01579A,#013762) repeat scroll 0 0 transparent;
	box-shadow:0 0 0 1px #E7E7E7;
	border:1px solid #FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:7px;
	width:24px;
	color:#fff;
	line-height:1em;
	font-weight:700;
	text-transform:uppercase;
	display:block;
	position:relative;
	behavior:url(document.doc?id=1);
}

.eventDetails p {
	margin:0 0 5px!important;
}

.profileDisplay th {
	text-align:right;
}

.myHomeBox {
	border-collapse:separate;
	margin:0 0 2em;
	padding:0;
	width:100%;
	border:1px solid #E2E2E2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	position:relative;
	behavior:url(document.doc?id=1);
}

.myHomeBox th.ProfileDisplayFieldCaption {
	width:120px;
}

.myHomeBox td {
	border-collapse:collapse;
	font-size:1em;
}

.myHomeBox td p,.myHomeBox td h3 {
	margin:0;
	padding:0;
}

.myHomeBox th,.BBPollsFormTitle {
	background-color:#004379;
	background:-webkit-gradient(linear,left top,left bottom,from(#004379),to(#002E53));
	background:-moz-linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	color:#FFF;
	height:auto;
	padding:.25em .5em;
	text-transform:none;
	text-align:center;
	font-size:1em;
	font-family:inherit;
	font-weight:400;
	position:relative;
	behavior:url(document.doc?id=1);
}

.myHomeBox th.left {
	border-color:#FFF;
	-webkit-border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0;
	border-radius:5px 0 0 0;
	border-style:solid;
	border-width:1px 0 0 1px;
	padding:.25em 0;
	width:8px;
}

.myHomeBox th.right {
	border-color:#FFF;
	-webkit-border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
	border-radius:0 5px 0 0;
	border-style:solid;
	border-width:1px 1px 0 0;
	color:#FFF;
	text-align:left;
	width:auto;
}

.BBPollsFormTitle {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding-left:1.25em;
	text-align:left;
	line-height:18px;
}

.myHomeBox td.left {
	background:none repeat scroll 0 0 transparent;
	padding:.5em 0;
}

.myHomeBox td.right {
	background:none repeat scroll 0 0 transparent;
	padding:.5em 1em .5em .5em;
}

.profileDisplay {
	border-collapse:collapse;
	width:100%;
}

.profileDisplay th {
	background:none repeat scroll 0 0 transparent;
	filter:none;
	color:#333;
	font-size:1em;
	padding:0 .5em 0 0;
	text-align:right;
	width:33%;
	behavior:none;
}

.profileDisplay td {
	padding:0;
}

.MatchFinderEvenRowStyle,.MatchFinderOddRowStyle,.ReportEvenRowStyle,.ReportOddRowStyle,.SpellSuggestionList,.CHFormTable fieldset div,.DirectoryListingItem,.ECardSectionSeparator,.CalendarViewCalendarContainer,.DetailCaptionContainer,.EventItemRegistrationsTable tr,.FRFormTable fieldset div,.GivingSearchSearchForm,.JobResultsEvenRowStyle,.JobResultsOddRowStyle,.BBMembershipBenefitsGridItem td,.PaymentPartGrid,.PaymentPartGrid tr,.PaymentPartGrid th,.PaymentPartGrid td,.PagerContainerTable,.TransactionManagerGrid,.TransactionManagerGridHeaderCell,.CalendarViewCalendarContainer,.CalendarViewOtherMonthDay,.CalendarViewDay,.CalendarViewWeekendDay,.CalendarViewToday,.EventAttendeesGrid,.ProfileFieldControlCell div,.LoginFormCheckListContainer,.NewsChannelStoryList,.ClassPageRosterTable,.ClassAveragesTable,.UpcomingAssignmentsTable,.TeacherAttendanceTable,.FacultyClassRosterTable,.ClassScheduleTable,.TeamScheduleTable,.StudentRecentlyGradedAssignmentsTable,.StudentCumulativeGradesTable,.StudentAttendanceTotalTable,.StudentAttendanceRecentTable,.TeamCoachesTable,.TeamRosterTable {
	border-color:#C9C9C9;
}

.BBModalDialogTitle,.CHDashBoardSectionHeading,.ECardSectionSeparator,.CalendarViewDayHeader,.FRDashBoardSectionHeading,.FRManagerDashBoardSectionHeading,.TransactionManagerGridHeaderCell,.TransactionManagerSummaryHeaderRow,.DirectoryListingHeading,.DiscussionTopicListHeader td,.SurveyAnswerTableHeaderRow td,.BBDocumentDisplayHeaderRow,.BBDocumentDisplayHeaderRow td,.JobResultsListHeader,.BBNotesNoteTopicCell,.BBNotesNoteNameCell,.BBNotesNoteLinkCell,.BBNotesNoteDateCell,.ReportListingHeading,.BBVolOpJobListHeader,.TransactionManagerGridHeaderCell,.TransactionManagerSummaryHeaderLabel,.TransactionManagerSummaryHeaderValue,.SubscriptionFormListHeader,.BBVolOpJobListHeader td,.DonationGridHeader td,.PaymentPartGrid_Header,.customDataTable th,.NCCS_CartHeader td,.NCCS_OrdersHeader td {
	background-color:#004379;
	background:-webkit-gradient(linear,left top,left bottom,from(#004379),to(#002E53));
	background:-moz-linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	color:#FFF;
	padding:.25em .5em;
	text-align:left;
	font-weight:400;
	position:relative;
	behavior:url(document.doc?id=1);
}

.CalendarViewDayHeader {
	height:auto;
	text-transform:uppercase;
	text-align:center;
	font-size:1em;
	font-family:inherit;
	font-weight:400;
}

.BBListEvenRowStyle,.CHFormTable fieldset div,.EventAttendeesComplete,.EventAttendeesCurrent,.EventAttendeesFuture,.EventAttendeesGrid,.EventAttendeesOverallTotal,.FRDonorListSetCaption,.FRFormTable fieldset div,.GivingSearchResultEvenRow,.GivingSearchSearchForm,.TransactionManagerDetailsEvenRow,.TransactionManagerEvenRow,.TransactionManagerSummaryDetailEvenRow,.Scroller,#trEmailLists,.DonationGridEvenRow,.PaymentPartGrid_EvenRows,.DiscussionTopicBody,.UpcomingAssignmentsTable,.FacultyClassRosterTable,.StudentRecentlyGradedAssignmentsTable,.StudentCumulativeGradesTable,.StudentAttendanceTotalTable,.StudentAttendanceRecentTable,.CalendarViewOtherMonthDay,.customDataTable_rowShade {
	background-color:#FFF;
	text-align:left;
}

.FRFormTable fieldset div,.CHFormTable fieldset div {
	width:400px;
}

fieldset {
	border:none;
	font-family:inherit;
	font-size:1em;
	padding:0;
	margin:1em .5em;
}

label {
	font-family:inherit;
	font-size:1em;
}

fieldset legend {
	margin-top:1em;
}

.ProfileDisplayFormTable {
	width:100%;
}

.ProfileDisplayFieldCaption {
	width:25%;
	padding:3px 4px 3px 0;
}

.ProfileDisplayFieldControlCell {
	width:auto;
	padding:3px 0;
}

.ReportsLandingTable {
	border-collapse:collapse;
	width:100%;
}

.ReportsLandingFieldCaption {
	padding:.5em!important;
	vertical-align:top;
}

.ReportsLandingFieldControlCell {
	padding:.5em;
	vertical-align:top;
}

.ReportFormTable td {
	white-space:normal!important;
}

.ReportFormTable td fieldset div table td div div table td div {
	width:450px!important;
	display:block;
	overflow:auto;
}

.BBNavBarTable {
	border-collapse:collapse;
	clear:both;
}

.BBNavBarTable td {
	padding:0;
	text-align:left;
}

table.QuickSearchFormTable {
	margin:9px auto 0;
	padding:0;
	border-collapse:collapse;
	clear:both;
}

table.QuickSearchFormTable td {
	padding:0;
	text-align:left;
}

label.QuickSearchFieldCaption {
	display:none;
}

table.QuickSearchFormTable .QuickSearchTextbox {
	width:139px;
	height:17px;
	border:1px solid #033965;
	margin:0 6px 0 0;
}

table.QuickSearchFormTable .QuickSearchButton {
	background-color:#E7E7E7;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#E7E7E7));
	background:-moz-linear-gradient(center top,#FFF,#E7E7E7) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#FFF,#E7E7E7) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#FFF,#E7E7E7) repeat scroll 0 0 transparent;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:0 none;
	font-size:12px;
	color:#333!important;
	font-weight:700;
	width:65px;
	height:24px;
	padding:0 0 4px;
	cursor:pointer;
	margin:0;
	position:relative;
	behavior:url(document.doc?id=1);
}

.EventProgressCell {
	background-color:#004379;
	background:-webkit-gradient(linear,left top,left bottom,from(#004379),to(#002E53));
	background:-moz-linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	color:#FFF;
	font-weight:400;
	border-bottom:3px solid #002E53;
	border-radius:10px 10px 0 0;
	font-family:inherit;
	font-size:1em;
	height:auto;
	line-height:normal;
	padding:.5em 1%;
	text-align:center;
	white-space:nowrap;
	position:relative;
	behavior:url(document.doc?id=1);
}

.BBSequenceMapCurrentStepItem {
	background-color:#004379;
	background:-webkit-gradient(linear,left top,left bottom,from(#004379),to(#002E53));
	background:-moz-linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#004379,#002E53) repeat scroll 0 0 transparent;
	color:#FFF;
	font-weight:400;
	border-bottom:3px solid #002E53;
	border-radius:10px 10px 0 0;
	font-family:inherit;
	font-size:11px;
	height:auto;
	padding:.5em .5em .25em;
	text-align:center;
	white-space:nowrap;
	position:relative;
	behavior:url(document.doc?id=1);
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}

/* End hide from IE-mac */
#BodyId {
	background-color:#022f54;
}

.bodyGutter {
	width:900px;
	margin:0 auto;
}

#wrapHeader {
	position:relative;
	z-index:2;
}

#header {
	background-color:#022F54;
	background:-webkit-gradient(linear,left top,left bottom,from(#022F54),to(#01589B));
	background:-moz-linear-gradient(center top,#022F54,#01589B) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#022F54,#01589B) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#022F54,#01589B) repeat scroll 0 0 transparent;
	position:relative;
	border-bottom:1px solid #022F54;
	behavior:url(document.doc?id=1);
}

#header .bodyGutter {
	position:relative;
}

#headerLogo {
	padding:28px 0;
	float:left;
	width:234px;
}

#headerUtility {
	background-color:#022F54;
	background:-webkit-gradient(linear,left top,left bottom,from(#022F54),to(#02508D));
	background:-moz-linear-gradient(center top,#022F54,#02508D) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#022F54,#02508D) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#022F54,#02508D) repeat scroll 0 0 transparent;
	color:#fff;
	padding:17px 10px 24px;
	position:absolute;
	top:0;
	bottom:1px;
	right:0;
	width:auto;
	behavior:url(document.doc?id=1);
}

#wrapNav {
	background-color:#D5D5D5;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#D5D5D5));
	background:-moz-linear-gradient(center top,#FFF,#D5D5D5) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#FFF,#D5D5D5) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#FFF,#D5D5D5) repeat scroll 0 0 transparent;
	position:relative;
	line-height:normal;
	border-bottom:1px solid #CDCDCD;
	box-shadow:0 4px 4px 0 #E8E8E8;
	behavior:url(document.doc?id=1);
}

#wrapNav img {
	vertical-align:baseline;
}

.mediaPrimary,.mediaSecondary,.calloutPrimary,.calloutSecondary,.calloutCenter {
	line-height:0;
}

.mediaPrimary .lineHeightWrap,.mediaSecondary .lineHeightWrap,.calloutPrimary .lineHeightWrap,.calloutCenter .lineHeightWrap,.calloutSecondary .lineHeightWrap,.threeColumns .lineHeightWrap {
	line-height:18px;
	padding:0;
	margin:0;
}

#wrapMedia {
	background:#fff url(../view.image?id=412) repeat-x 0 0;
	padding-top:15px;
	position:relative;
	z-index:1;
}

#media {
	width:902px;
	margin:0 auto;
}

.media2Col {
	width:902px;
	margin:0 auto;
}

.mediaPrimary {
	width:595px;
	float:left;
}

.mediaSecondary {
	width:303px;
	float:right;
}

.mediaMenu {
	background-color:#033d6c;
	background:-moz-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#013A66),color-stop(10%,#015290),color-stop(50%,#033D6C),color-stop(100%,#033D6C));
	background:-webkit-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:-o-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:-ms-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	-pie-background:linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%) repeat scroll 0 0 transparent;
	-webkit-border-radius:0 10px 10px 0;
	-moz-border-radius:0 10px 10px 0;
	border-radius:0 10px 10px 0;
	position:relative;
	width:274px;
	height:235px;
	padding:12px 14px;
	margin:0;
	list-style:none;
	list-style-position:inside;
	behavior:url(document.doc?id=1);
}

.mediaMenu li {
	background-color:#2270AD;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	display:block;
	margin-bottom:1px;
	width:274px;
	float:left;
	position:relative;
	behavior:url(document.doc?id=1);
}

.mediaMenu li:hover {
	background-color:#0561A8;
}

.mediaMenu li a,.mediaMenu li a:link,.mediaMenu li a:visited {
	display:block;
	padding:14px 34px;
	color:#fff!important;
	text-transform:uppercase;
	font-size:16px;
	font-weight:700;
	text-decoration:none;
}

.mediaMenu li:hover a,.mediaMenu li.hover a,.mediaMenu li:hover a:hover,.mediaMenu li.hover a:hover {
	display:block;
	color:#fdb813!important;
}

.mediaMenu li a:hover {
	background:url(../view.image?id=552) no-repeat 15px 19px;
}

.mediaMenu li a,.mediaMenu li a:link,.mediaMenu li a:visited {
	background:url(../view.image?id=551) no-repeat 15px 19px;
}

#wrapContentOuter {
	background:#fff;
}

#wrapContentInner {
	width:900px;
	margin:0 auto;
}

.contentGutter {
	padding:0 36px;
}

#contentPrimary a {
	font-weight:700;
	text-decoration:underline;
}

div#home #contentPrimary {
	line-height:18px;
	width:900px;
	margin:0 auto;
}

div#home #contentPrimary .gutter {
	padding:10px 15px;
}

div#internal #contentPrimary {
	float:right;
	width:620px;
	margin:15px 0 0;
}

div#internal #contentPrimary .leftCol {
	width:300px;
	float:left;
	margin:0;
}

div#internal #contentPrimary .rightCol {
	width:300px;
	float:right;
	margin:0;
}

div#internal #contentPrimary .singleCol {
	clear:both;
	width:630px;
	margin:0;
}

div#internal #contentPrimary .gutter {
	padding:15px 0;
}

.calloutPrimary {
	width:565px;
	float:left;
}

.calloutPrimary h1,.calloutPrimary h2,.calloutSecondary h1,.calloutSecondary h2,.calloutCenter h1 {
	margin-bottom:15px;
	margin-top:12px;
}

.calloutSecondary {
	width:285px;
	float:right;
}

.calloutSecondary p,.threeColumns p {
	padding:0 0 1em;
}

.calloutCenter {
	clear:both;
	width:885px;
}

.threeColumns {
	width:870px;
	clear:both;
}

.threeColLeft {
	float:left;
	width:285px;
	margin-right:8px;
}

.threeColCenter {
	float:left;
	width:285px;
}

.threeColRight {
	float:right;
	width:285px;
}

#contentSecondary {
	background:#f4f4f4;
	border:#ddd solid 2px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	position:relative;
	behavior:url(document.doc?id=1);
}

div#home #contentSecondary {
	width:896px;
	margin:0 auto 15px;
	color:#333;
	font-size:11px;
	display:none;
}

div#internal #contentSecondary {
	float:left;
	width:250px;
	margin:28px 0;
}

div#internal #contentSecondary h2 {
	background-color:#E2E2E2;
	background:-moz-linear-gradient(top,#E2E2E2 0,#E2E2E2 90%,#D0D0D0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E2E2E2),color-stop(90%,#E2E2E2),color-stop(100%,#D0D0D0));
	background:-webkit-linear-gradient(top,#E2E2E2 0,#E2E2E2 90%,#033D6C 100%);
	background:-o-linear-gradient(top,#E2E2E2 0,#E2E2E2 90%,#033D6C 100%);
	background:-ms-linear-gradient(top,#E2E2E2 0,#E2E2E2 90%,#033D6C 100%);
	background:linear-gradient(top,#E2E2E2 0,#E2E2E2 90%,#033D6C 100%);
	-pie-background:linear-gradient(top,#E2E2E2 0,#E2E2E2 90%,#033D6C 100%) repeat scroll 0 0 transparent;
	position:relative;
	color:#333;
	padding:12px 0 12px 12px;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	behavior:url(document.doc?id=1);
}

#contentSecondary a,#contentSecondary a:link {
	font-weight:700;
}

.gutter {
	padding:15px;
}

div#internal #contentSub {
	float:left;
	margin:0 0 28px;
	width:250px;
	clear:left;
}

#wrapFooter {
	background-color:#033d6c;
	background:-moz-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#013A66),color-stop(10%,#015290),color-stop(50%,#033D6C),color-stop(100%,#033D6C));
	background:-webkit-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:-o-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:-ms-linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	background:linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%);
	-pie-background:linear-gradient(top,#013A66 0,#015290 10%,#033D6C 50%,#033D6C 100%) repeat scroll 0 0 transparent;
	position:relative;
	color:#fff;
	bhevaior:url(document.doc?id=1);
}

#wrapFooterMenu {
	padding:.5em 0;
}

#wrapFooter h3 {
	color:#fff;
	font-size:14px;
	font-weight:700;
	text-align:right;
}

.footerMenuWrap {
	margin:20px 0;
	float:left;
}

.footerContactWrap {
	border-right:#033c6a solid 1px;
	margin:20px 0;
	float:right;
	text-align:right;
	width:300px;
}

.footerContactBorderWrap {
	border-right:#015494 solid 1px;
	padding-right:20px;
	height:70px;
	width:auto;
	float:right;
}

.footerContactWrap p,#wrapFooterCopy p {
	padding:0;
}

#wrapFooterCopy {
	background-color:#022f54;
	padding:5px 0;
	text-align:center;
}

.footerContactWrap a:link,.footerContactWrap a:visited {
	color:#FFF;
	text-decoration:none;
}

.footerContactWrap a:hover {
	color:#FFF;
	text-decoration:underline;
}

.footerContactWrap a:active {
	text-decoration:none;
}

.utilityMenuList {
	list-style:none;
	list-style-position:outside;
	margin:0 auto;
	padding:0;
}

.utilityMenuList li {
	display:inline;
	width:auto;
}

.utilityMenuList li a {
	color:#fff!important;
	text-decoration:none;
	padding:0 6px 0 7px;
	border-right:1px solid #fff;
	line-height:normal;
}

.utilityMenuList li.last a {
	border:0 none;
}

#headerUtility .mainMenu {
	margin:0 auto;
	padding:0;
	border-collapse:collapse;
}

#headerUtility .mainMenu a {
	color:#fff;
	text-decoration:none;
	padding:0 3px;
}

#wrapNav .mainNav {
	margin:0;
	list-style:none;
	list-style-position:outside;
	padding:0;
}

#wrapNav .mainNav li {
	position:relative;
	float:left;
	padding:0;
	text-align:center;
	border-right:1px solid #d4d4d4;
	height:45px;
	behavior:url(document.doc?id=1);
}

#wrapNav .mainNav li.last {
	border:0 none;
}

#wrapNav .mainNav li a {
	font-size:14px;
	color:#333;
	font-weight:700;
	padding:14px 15px;
	text-transform:uppercase;
	text-decoration:none;
	display:block;
}

#wrapNav .mainNav li:hover a,#wrapNav .mainNav li.hover a {
	color:#000;
}

#wrapNav .mainNav li:hover,#wrapNav .mainNav li.hover {
	background-color:#7C7C7C;
	background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#7C7C7C));
	background:-moz-linear-gradient(center top,#FFF,#7C7C7C) repeat scroll 0 0 transparent;
	background:linear-gradient(center top,#FFF,#7C7C7C) repeat scroll 0 0 transparent;
	-pie-background:linear-gradient(center top,#FFF,#7C7C7C) repeat scroll 0 0 transparent;
}

#wrapNav .mainNav .nccUlMenuSub1 {
	position:absolute;
	left:-50000px;
	list-style:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#wrapNav .mainNav li:hover .nccUlMenuSub1,#wrapNav .mainNav li.hover .nccUlMenuSub1 {
	top:45px;
	left:0;
	margin:0;
	padding:0;
	width:206px;
	border:1px solid #cdcdcd;
}

#wrapNav .mainNav li .nccUlMenuSub1 li {
	background-color:#fff;
	float:left;
	text-align:left;
	border-bottom:1px solid #cdcdcd;
	width:206px;
	height:auto;
	padding:0;
	margin:0;
}

#wrapNav .mainNav li .nccUlMenuSub1 li.last {
	border-right:1px solid #cdcdcd;
}

#wrapNav .mainNav li .nccUlMenuSub1 li a {
	font-family:inherit;
	font-size:11px;
	text-transform:none;
	display:block;
	padding:5px;
	background-color:#fff;
	text-align:left;
	color:#333;
	text-decoration:none;
}

#wrapNav .mainNav li .nccUlMenuSub1 li:hover,#wrapNav .mainNav li .nccUlMenuSub1 li:hover a,#wrapNav .mainNav li .nccUlMenuSub1 li.hover,#wrapNav .mainNav li .nccUlMenuSub1 li.hover a {
	color:#fff;
	background:#7a7a7a;
}

.nccUlMenuSub2 {
	position:absolute;
	left:-50000px;
	list-style:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

.nccUlMenuSub2 li {
	padding:0;
	margin:0;
}

#wrapNav .mainNav li .nccUlMenuSub1 li:hover .nccUlMenuSub2,#wrapNav .mainNav li .nccUlMenuSub1 li.hover .nccUlMenuSub2 {
	left:207px;
	top:0;
}

#wrapNav .mainNav li .nccUlMenuSub1 li:hover .nccUlMenuSub2 li a,#wrapNav .mainNav li .nccUlMenuSub1 li.hover .nccUlMenuSub2 li a {
	background-color:#fff;
	color:#333;
}

#wrapNav .mainNav li .nccUlMenuSub1 li .nccUlMenuSub2 li:hover,#wrapNav .mainNav li .nccUlMenuSub2 li:hover a,#wrapNav .mainNav li .nccUlMenuSub1 li .nccUlMenuSub2 li.hover,#wrapNav .mainNav li .nccUlMenuSub1 li .nccUlMenuSub2 li.hover a {
	color:#fff;
	background:#7a7a7a;
}

#wrapNav .mainMenu {
	margin:0;
}

#wrapNav .mainMenuItem td {
	padding:17px 0 16px;
	text-align:center;
	background:transparent;
}

#wrapNav .mainMenuItem a {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:14px;
	color:#333;
	text-decoration:none;
	padding:0 15px;
	border-right:1px solid #d1d1d1!important;
	text-transform:uppercase;
}

#wrapNav .mainMenuHover td {
	background:#fff url(../view.image?id=411) repeat-x 0 100%;
}

#wrapNav .mainMenuHover td a,#wrapNav .mainMenuHover td a:link,#wrapNav .mainMenuHover td a:visited {
	border-right:0 none!important;
	padding:0 16px 0 15px;
	color:#fff;
}

#wrapNav .subMenu table {
	width:206px;
	border:1px solid #cdcdcd;
}

#wrapNav .subMenu table td {
	border-bottom:1px solid #cdcdcd;
	width:206px;
}

#wrapNav .subMenu table.subMenuItem {
	border:0 none;
}

#wrapNav .subMenuItem td a,#wrapNav .subMenuItem td a:link,#wrapNav .subMenuItem td a:visited {
	display:block;
	padding:5px;
	text-align:left;
	color:#333;
	text-decoration:none;
}

#wrapNav .subMenuHover td a,#wrapNav .subMenuHover td a:link,#wrapNav .subMenuHover td a:visited {
	color:#fff;
	background:#7a7a7a;
}

#wrapNav .subMenu .subMenuItem td {
	border:0 none;
}

.internalMenu,.internalMenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
}

.internalMenu li a {
	display:block;
	padding:2px 0 2px 29px;
	text-decoration:none;
	background-position:12px 6px;
	background-repeat:no-repeat;
}

.internalMenu li a,.internalMenu li:hover li a,.internalMenu li.hover li a,.internalMenu li.selected li a {
	background-color:transparent;
}

.internalMenu li li a {
	padding:2px 0 2px 49px;
	background-position:32px 6px;
}

.internalMenu li.selected a,.internalMenu li li.selected a {
}

.internalMenu li:hover a,.internalMenu li.hover a {
	color:#fff;
	background-color:#01579A;
}

.internalMenu li:hover li a,.internalMenu li.hover li a {
	color:#01579A;
}

.internalMenu li:hover li:hover a,.internalMenu li.hover li.hover a {
	background-color:#DDD;
	color:#01579A;
}

.internalMenu li:hover ul.nccUlMenuSub1 {
	background:transparent;
}

#contentSecondary .mainMenu {
	width:100%;
}

#contentSecondary .mainMenuItem a,#contentSecondary .mainMenuItem a:link,#contentSecondary .mainMenuItem a:visited {
	display:block;
	background:url(../view.image?id=499) no-repeat 12px 5px;
	padding:2px 0 2px 29px;
	text-decoration:none;
}

#contentSecondary .mainMenuSelected a,#contentSecondary .mainMenuSelected a:link,#contentSecondary .mainMenuSelected a:visited,#contentSecondary .mainMenuSelected a:hover {

	color:#01589b;
}

#contentSecondary .mainMenuHover a,#contentSecondary .mainMenuHover a:link,#contentSecondary .mainMenuHover a:visited,#contentSecondary .mainMenuHover a:hover {
	background-color:#01589b;
	color:#fff;
	background-repeat:no-repeat;
	background-position:12px 4px;
}

.footerMenu {
	border-left:#033c6a solid 1px;
	height:70px;
	list-style:none;
	list-style-position:outside;
	margin:0;
	padding:0;
	float:left;
	width:auto;
}

.footerMenu li {
	border-right:#033c6a solid 1px;
	border-left:#015494 solid 1px;
	float:left;
	padding:0 20px;
	margin:0;
}

.footerMenu li.last {
	border-right:0 none;
}

.footerMenu li a {
	color:#fff!important;
	text-decoration:none;
	font-size:14px;
	font-weight:700;
}

.footerMenu li:hover a,.footerMenu li:hover a:hover,.footerMenu li.hover a,.footerMenu li.hover a:hover {
	cursor:default;
}

.footerMenu .nccUlMenuSub1 {
	list-style:none;
	list-style-position:outside;
	margin:0;
	padding:0;
	border:0 none;
}

.footerMenu li .nccUlMenuSub1 li {
	float:none;
	display:block;
	margin:0;
	padding:0;
	border:0 none;
}

.footerMenu li .nccUlMenuSub1 li a {
	text-decoration:underline;
	font-size:11px;
	font-weight:400;
}

.footerMenu li .nccUlMenuSub1 li:hover a,.footerMenu li .nccUlMenuSub1 li:hover a:hover,.footerMenu li .nccUlMenuSub1 li.hover a,.footerMenu li .nccUlMenuSub1 li.hover a:hover {
	cursor:pointer;
}

#wrapFooterMenu .footerMenu a {
	position:static;
}

div[id$="designPaneCloak"] {
	left:0!important;
}

#contentSub div.DesignPane ~ img {
	display:none;
}

a.skip {
	position:absolute;
	top:-50em;
	font-size:1.2em;
	font-weight:700;
}

a.skip:hover,a.skip:active,a.skip:focus {
	position:absolute;
	left:50%;
	top:0;
	background:#fff;
	padding:.5em;
	text-align:center;
	margin:0 auto 0 -10em;
	display:block;
	width:20em;
}

.iefix {
	background:none\9;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader();
}

.contentPageDesigner {
	background-color:#FFF;
	border:1px solid #F7E3BD;
	left:0;
	min-height:500px;
	padding:10px 0;
	position:relative;
	top:30px;
	width:100%!important;
}

table.DesignMenuTable a {
	color:#666!important;
}
